In [ ]:
from nba_api.stats.library import http

print(http.STATS_HEADERS)

In [1]:
import pandas as pd
import tensorflow as tf
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

In [2]:
nba_teams = teams.get_teams()
# nba_abbrev = ['ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS']
# nba_teams = [team for team in nba_teams if team['abbreviation'] in nba_abbrev]
# nba_teams_id = [i['id'] for i in nba_teams]
# seasons = ['2018-19', '2019-20']
gamefinder = leaguegamefinder.LeagueGameFinder(league_id_nullable='00')
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612748,MIA,Miami Heat,0021900970,2020-03-11,MIA vs. CHA,L,239,98,...,0.833,9,27,36,32,8,5,14,17,-13.0
1,22019,1610612743,DEN,Denver Nuggets,0021900973,2020-03-11,DEN @ DAL,L,240,97,...,0.625,3,37,40,23,6,4,15,20,-7.8
2,22019,1610612752,NYK,New York Knicks,0021900969,2020-03-11,NYK @ ATL,W,264,136,...,0.735,6,41,47,32,14,9,12,23,0.0
3,22019,1610612742,DAL,Dallas Mavericks,0021900973,2020-03-11,DAL vs. DEN,W,240,113,...,0.739,13,39,52,23,9,2,10,14,8.0
4,22019,1610612765,DET,Detroit Pistons,0021900971,2020-03-11,DET @ PHI,L,241,106,...,0.680,6,26,32,25,10,3,8,24,-14.2

In [3]:
games.dtypes

SEASON_ID             object
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_NAME             object
GAME_ID               object
GAME_DATE             object
MATCHUP               object
WL                    object
MIN                    int64
PTS                    int64
FGM                    int64
FGA                    int64
FG_PCT               float64
FG3M                   int64
FG3A                   int64
FG3_PCT              float64
FTM                    int64
FTA                    int64
FT_PCT               float64
OREB                   int64
DREB                   int64
REB                    int64
AST                    int64
STL                    int64
BLK                    int64
TOV                    int64
PF                     int64
PLUS_MINUS           float64
dtype: object

In [6]:
obj_columns = ['TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_DATE', 'MATCHUP', 'WL']
for i in obj_columns:
    games[i] = pd.Categorical(games[i])
    games[i] = games[i].cat.codes

In [7]:
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612748,39,42,0021900970,2427,1050,0,239,98,...,0.833,9,27,36,32,8,5,14,17,-13.0
1,22019,1610612743,16,22,0021900973,2427,465,0,240,97,...,0.625,3,37,40,23,6,4,15,20,-7.8
2,22019,1610612752,49,52,0021900969,2427,1395,1,264,136,...,0.735,6,41,47,32,14,9,12,23,0.0
3,22019,1610612742,15,21,0021900973,2427,434,1,240,113,...,0.739,13,39,52,23,9,2,10,14,8.0
4,22019,1610612765,17,23,0021900971,2427,546,0,241,106,...,0.680,6,26,32,25,10,3,8,24,-14.2

In [13]:
target = games.pop('WL')
games.pop('SEASON_ID')
games.pop('TEAM_ID')
games.pop('GAME_ID')

0        0021900970
1        0021900973
2        0021900969
3        0021900973
4        0021900971
            ...
29995    0040800221
29996    0040800211
29997    0040800137
29998    0040800137
29999    0040800231
Name: GAME_ID, Length: 30000, dtype: object

In [14]:
games.head()

,TEAM_ABBREVIATION,TEAM_NAME,GAME_DATE,MATCHUP,MIN,PTS,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,39,42,2427,1050,239,98,39,84,0.464,15,...,0.833,9,27,36,32,8,5,14,17,-13.0
1,16,22,2427,465,240,97,39,83,0.470,14,...,0.625,3,37,40,23,6,4,15,20,-7.8
2,49,52,2427,1395,264,136,50,94,0.532,11,...,0.735,6,41,47,32,14,9,12,23,0.0
3,15,21,2427,434,240,113,42,92,0.457,12,...,0.739,13,39,52,23,9,2,10,14,8.0
4,17,23,2427,546,241,106,39,84,0.464,11,...,0.680,6,26,32,25,10,3,8,24,-14.2

In [15]:
dataset = tf.data.Dataset.from_tensor_slices((games.values, target.values))

In [17]:
games.head()

,TEAM_ABBREVIATION,TEAM_NAME,GAME_DATE,MATCHUP,MIN,PTS,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,39,42,2427,1050,239,98,39,84,0.464,15,...,0.833,9,27,36,32,8,5,14,17,-13.0
1,16,22,2427,465,240,97,39,83,0.470,14,...,0.625,3,37,40,23,6,4,15,20,-7.8
2,49,52,2427,1395,264,136,50,94,0.532,11,...,0.735,6,41,47,32,14,9,12,23,0.0
3,15,21,2427,434,240,113,42,92,0.457,12,...,0.739,13,39,52,23,9,2,10,14,8.0
4,17,23,2427,546,241,106,39,84,0.464,11,...,0.680,6,26,32,25,10,3,8,24,-14.2

In [18]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 3.900e+01  4.200e+01  2.427e+03  1.050e+03  2.390e+02  9.800e+01
  3.900e+01  8.400e+01  4.640e-01  1.500e+01  4.400e+01  3.410e-01
  5.000e+00  6.000e+00  8.330e-01  9.000e+00  2.700e+01  3.600e+01
  3.200e+01  8.000e+00  5.000e+00  1.400e+01  1.700e+01 -1.300e+01], Target: 0
Features: [ 1.600e+01  2.200e+01  2.427e+03  4.650e+02  2.400e+02  9.700e+01
  3.900e+01  8.300e+01  4.700e-01  1.400e+01  3.900e+01  3.590e-01
  5.000e+00  8.000e+00  6.250e-01  3.000e+00  3.700e+01  4.000e+01
  2.300e+01  6.000e+00  4.000e+00  1.500e+01  2.000e+01 -7.800e+00], Target: 0
Features: [4.900e+01 5.200e+01 2.427e+03 1.395e+03 2.640e+02 1.360e+02 5.000e+01
 9.400e+01 5.320e-01 1.100e+01 2.800e+01 3.930e-01 2.500e+01 3.400e+01
 7.350e-01 6.000e+00 4.100e+01 4.700e+01 3.200e+01 1.400e+01 9.000e+00
 1.200e+01 2.300e+01 0.000e+00], Target: 1
Features: [1.500e+01 2.100e+01 2.427e+03 4.340e+02 2.400e+02 1.130e+02 4.200e+01
 9.200e+01 4.570e-01 1.200e+01 3.500e+01 3.430e-01 1.700e+01 2.300e+01
 7.390e-01 1.300e+01 3.900e+01 5.200e+01 2.300e+01 9.000e+00 2.000e+00
 1.000e+01 1.400e+01 8.000e+00], Target: 1
Features: [ 1.700e+01  2.300e+01  2.427e+03  5.460e+02  2.410e+02  1.060e+02
  3.900e+01  8.400e+01  4.640e-01  1.100e+01  3.500e+01  3.140e-01
  1.700e+01  2.500e+01  6.800e-01  6.000e+00  2.600e+01  3.200e+01
  2.500e+01  1.000e+01  3.000e+00  8.000e+00  2.400e+01 -1.420e+01], Target: 0

In [19]:
train_dataset = dataset.shuffle(len(games)).batch(1)

In [20]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [21]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Train for 30000 steps
Epoch 1/15
30000/30000 [==============================] - 45s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 2/15
30000/30000 [==============================] - 44s 1ms/step - loss: nan - accuracy: 0.4999
Epoch 3/15
30000/30000 [==============================] - 45s 1ms/step - loss: nan - accuracy: 0.4999
Epoch 4/15
30000/30000 [==============================] - 45s 1ms/step - loss: nan - accuracy: 0.4999
Epoch 5/15
30000/30000 [==============================] - 48s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 6/15
30000/30000 [==============================] - 53s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 7/15
30000/30000 [==============================] - 43s 1ms/step - loss: nan - accuracy: 0.4999
Epoch 8/15
30000/30000 [==============================] - 59s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 9/15
30000/30000 [==============================] - 53s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 10/15
30000/30000 [==============================] - 50s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 11/15
30000/30000 [==============================] - 52s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 12/15
30000/30000 [==============================] - 63s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 13/15
30000/30000 [==============================] - 54s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 14/15
30000/30000 [==============================] - 59s 2ms/step - loss: nan - accuracy: 0.4999
Epoch 15/15
30000/30000 [==============================] - 50s 2ms/step - loss: nan - accuracy: 0.4999